.topLink{
    margin-right: 2vw;
    transition:transform .5s;
}

.topLink:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.link{
    font-weight: 300 !important;
}

.link:hover{
    text-decoration:none !important;
    
}

header.hide{
    background-color: transparent;
    box-shadow: none;
    transition:all .5s;
}

header.show{
    background-color: #f3f4f5;
    color: #222;
    transition:all .5s;
}
