html{
  scroll-behavior: smooth;
}

.top-container{
  background-image: url("./static/bg-2-bnw.jpg");
  background-size: cover;

  height: 100vh;
}

.top-content{
  background: rgba(0, 0, 0, 0.65);
  height: 100vh;

  color: whitesmoke;
  padding-top: 40vh;
}